@import 'tailwindcss';
@import './typography.css';

:root {
	--background: #fff;
	--foreground: #000;
	/* pretandard 숫자 넓이 고정 */
	font-variant-numeric: tabular-nums;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@theme {
	/* 반응형 */
	--breakpoint-*: initial;
	--breakpoint-desktop: 960px;
	--breakpoint-tablet: 768px;

	--spacing-maxw: 1200px;
	--spacing-desktop: 960px;

	/* 폰트 사이 */
	--font-weight-*: initial;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;

	/* 색상  - 시맨틱 컬러 */
	--color-*: initial;
	--color-primary-main-normal: #6541f2;
	--color-primary-main-strong: #593ad5;
	--color-primary-main-heavy: #4b31b4;
	--color-primary-sub-normal: #00f2b7;
	--color-primary-sub-strong: #00d5a2;
	--color-primary-sub-heavy: #00b488;

	--color-label-normal: #171719;
	--color-label-strong: #010101;
	--color-label-neutral: #434447;
	--color-label-alternative: #858588;
	--color-label-assistive: #c7c8c9;
	--color-label-disable: #dfdfe0;

	--color-bg-normal-normal: #ffffff;
	--color-bg-normal-alternative: #f7f7f8;
	--color-bg-elevated-normal: #ffffff;
	--color-bg-elevated-alternative: #f7f7f8;

	--color-interaction-inactive: #989ba2;
	--color-interaction-disable: #f4f4f5;

	--color-line-normal: #e0e0e2;
	--color-line-neutral: #e8e8ea;
	--color-line-alternative: #f4f4f5;

	--color-fill-normal: #f4f4f5;
	--color-fill-strong: #e8e8ea;
	--color-fill-alternative: #f8f8f8;

	--color-status-positive: #3add5b;
	--color-status-cautionary: #ff9829;
	--color-status-destructive: #ff5141;

	--color-static-white: #ffffff;
	--color-static-black: #010101;

	--color-accent-bg-violet: #6541f2;
	--color-accent-bg-emerald: #00f2b7;
	--color-accent-bg-red: #ff5141;
	--color-accent-bg-orange: #ff9828;
	--color-accent-bg-green: #3add5b;
	--color-accent-bg-blue: #3883ff;
	--color-accent-bg-pink: #ff5b8f;

	--color-accent-fg-violet: #4b31b4;
	--color-accent-fg-emerald: #00b488;
	--color-accent-fg-red: #bd3c30;
	--color-accent-fg-orange: #bd711e;
	--color-accent-fg-green: #2ba443;
	--color-accent-fg-blue: #2a61bd;
	--color-accent-fg-pink: #bd446a;

	--color-material-dimmer: #868687;

	--color-inverse-primary-main: #8d73f6;
	--color-inverse-primary-sub: #42f6c2;
	--color-inverse-primary-background: #1b1c1e;
	--color-inverse-primary-label: #f7f7f8;
}

@media (prefers-color-scheme: dark) {
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

button {
	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
	}
}

@layer utilities {
	.custom-scrollbar {
		scrollbar-width: 3px;
		scrollbar-color: #dddddf transparent;
	}

	.custom-scrollbar::-webkit-scrollbar {
		width: 3px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		background: transparent;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background-color: #dddddf;
		border-radius: 1000px;
	}

	.scrollbar-hide {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	.text-shadow {
		text-shadow:
			0 0 0.5px rgba(0, 0, 0, 0.25),
			0 0.5px 2px rgba(0, 0, 0, 0.25);
	}

	.gradient-border {
		border: 2px solid;
		border-image: linear-gradient(to right, #43e5b2, #6541f2) 1;
	}
}
